@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;600&display=swap');

body {
    background-color: #ef6129;
    font-family: 'Montserrat', sans-serif;
    color: #fff;
}

.container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.main {
    height: 60vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    &_heading {
        margin-top: 8rem;
        font-weight: 400;
    }

    .amount {
        font-size: 6rem;
        letter-spacing: 8px;
        font-weight: 600;
    }

    form {
        display: flex;
        flex-direction: column;
        align-items: center;

        input {
            border: 0;
            outline: 0;
            color: #fff;
            font-size: 2rem;
            letter-spacing: 3px;
            font-weight: 400;
            text-align: center;
            background: transparent;
            padding-bottom: 10px;
            border-bottom: 2px solid #fff;
            width: 12rem;
        }

        input::placeholder,
        input:focus {
            color: #fff;
        }
        
    }

    .btn {
        margin-top: 4rem;
        font-weight: 600;
        cursor: pointer;
        outline: none;
        &-outline {
            position: relative;
            z-index: 3;
            background: transparent;
            color: #fff;
            font-size: 14px;
            border-color: #fff;
            border-style: solid;
            border-width: 2px;
            border-radius: 8px;
            padding: 10px 50px;
            text-transform: uppercase;
            transition: all 0.2s linear;
            a {
                text-decoration: none;
            }
        }
        &-outline:hover {
            color: #ef6129;
            background: #fff;
            border-color: #fff;
            transition: all 0.2s linear;
        }
        &-outline:active {
            border-radius: 22px;
        }
    }
}

.header {
    margin-top: 4rem;
    &_logo {
        height: 7rem;
    }
}