@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@400;600&display=swap");
body {
  background-color: #ef6129;
  font-family: 'Montserrat', sans-serif;
  color: #fff; }

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100vh; }

.header {
  height: 30vh; }
  .header img {
    padding: 0 0 6rem 0;
    height: 6rem; }

.main {
  height: 40vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center; }
  .main h1 {
    padding: 2rem; }
  .main a {
    text-decoration: none;
    color: #fff;
    text-transform: uppercase; }
  .main_heading {
    padding: 4rem 0;
    font-weight: 400; }
  .main .amount {
    font-size: 4rem;
    letter-spacing: 8px;
    font-weight: 600;
    margin-top: 1rem; }
  .main form {
    display: flex;
    flex-direction: column;
    align-items: center; }
    .main form input {
      border: 0;
      outline: 0;
      color: #fff;
      font-size: 1.5rem;
      letter-spacing: 3px;
      font-weight: 400;
      background: transparent;
      text-align: center;
      padding-bottom: 10px;
      border-bottom: 2px solid #fff;
      margin-bottom: 3rem;
      width: 12rem; }
    .main form input::placeholder,
    .main form input:focus {
      color: #fff; }
  .main .btn {
    margin-top: 2rem;
    font-weight: 600;
    cursor: pointer;
    outline: none; }
    .main .btn-outline {
      position: relative;
      z-index: 3;
      background: transparent;
      color: #fff;
      font-size: 14px;
      border-color: #fff;
      border-style: solid;
      border-width: 2px;
      border-radius: 8px;
      padding: 10px 50px;
      text-transform: uppercase;
      transition: all 0.2s linear; }
      .main .btn-outline a {
        text-decoration: none; }
    .main .btn-outline:hover {
      color: #ef6129;
      background: #fff;
      border-color: #fff;
      transition: all 0.2s linear; }
    .main .btn-outline:active {
      border-radius: 22px; }

@media only screen and (min-device-width: 320px) and (max-device-width: 480px) {
  /* Styles */
  .header img {
    padding: 0 0 6rem 0;
    height: 4rem; }
  .main_heading {
    padding: 4rem;
    font-size: 1.5rem;
    text-align: center; }
  .main .amount {
    margin-top: 0; } }
